.page_title {
    padding: 20px;
    background: #F3F7F4;
    color: black;
    font-size: 30px;
    border: 1px solid #C4C4C4;
    margin-bottom: 10px;
}

.page_name {
    font-size: 20px;
}

p {
    font-size: 30px;
}

.page_subtitle {
    padding: 10px 10px 10px 20px;
    background: #F3F7F4;
    color: black;
    border: 1px solid #C4C4C4;
}

.title {
    font-size: 15px;
}

.content {
    padding: 10px 10px 10px 20px;
    background: #fff;
    color: black;
    border: 1px solid #C4C4C4;
}

/* ---------------------table------------------- */

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: -8px;
}

th,
td {
    text-align: left;
    padding: 10px;
}

td {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:hover {
    background-color: #30303045;
    color: #fff;
}

th {
    background-color: #eee;
    color: black;
    text-align: center;
    font-size: 12px;
}

#manage-service td,
#manage-service th {
    border: 1px solid #ddd;
}

#officer {
    width: 100%;
    height: 32px;
}

#services {
    width: 100%;
    height: 32px;
}

/* ----------------------view button---------------- */
.view {
    width: auto;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    opacity: 1;
    border: 1px solid #3a7432;
    background-color: #5eb556;
    color: #fff;
    padding: 8px 8px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.view:hover {
    background: #3a7432;
}

/* -------------------verify button - helpdesk officer----------------- */
.verify {
    border: 1px solid #8b080d;
    background-color: #dc524f;
    color: white;
    width: auto;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    opacity: 1;
    padding: 8px 8px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.verify:hover {
    background: #8b080d;
}

/* -------------------proceed button - helpdesk officer---------------- */
.proceed {
    width: auto;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    opacity: 1;
    border: 1px solid #cc8914;
    background-color: #efab4a;
    color: #fff;
    padding: 8px 8px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.proceed:hover {
    background: #cc8914;
}

/* --------------------------pagination------------------------  */
#pagination a {
    color: #0088cc;
    display: inline-block;
    margin-left: 5px;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ddd;
    text-decoration: none;
    background-color: #fff;
    transition: background-color 0.5s;
}

#pagination a.active {
    background-color: #50a5f9;
    color: #fff;
    transition: background-color 0.5s;
}

#pagination a:hover:not(.active) {
    background-color: #eee;
    color: #00558d;
    transition: background-color 0.5s;
}

.txt_t4 {
    font-size: 14px;
    margin-top: 5px;
    font-weight: normal;
    color: #524125;
    word-break: break-all;
}

.error {
    font-size: 13px;
    font-weight: normal;
    color: #e95e46;
    word-break: break-all;
}

.edit_mess {
    font-size: 14px;
    font-weight: normal;
    color: #0fa7e4;
    word-break: break-all;
}

.error_mess {
    font-size: 14px;
    font-weight: normal;
    color: #e95e46;
    word-break: break-all;
}

.search_mess {
    font-size: 14px;
    font-weight: normal;
    color: #e95e46;
    word-break: break-all;
}

.verify_mess {
    font-size: 14px;
    font-weight: normal;
    color: #3a7432;
    word-break: break-all;
}

/* --------------------------popup----------------------------  */
.cancel_container {
    display: flex;
    background-color: #515050;
    padding: 8px;
}

#infor {
    flex: 1;
}

#cancel {
    flex: 1;
}

.cancelbtn>.fa-times {
    font-size: 16px;
}

.cancelbtn {
    border: 2px solid #fff;
    color: #fff;
    background: none;
    padding: 3px 3px 3px 8px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: auto;
    transition: background-color 0.5s;
    border-radius: 50%;
}

.cancelbtn:hover {
    color: #ddd;
    border: 2px solid #ddd;
}

.popup_head {
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #f4f4f4;
}

.popup_container {
    padding: 0px;
    height: auto;
}

.popup_footer {
    padding: 10px;
    min-height: 40px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_space {
    padding: 10px;
    min-height: 40px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_heding2 {
    font-size: 16px;
    color: #515050;
}

.page_heding4 {
    font-size: 14px;
    color: #6e6d6d;
}

img.profileMain {
    width: auto;
    max-height: 100px;
    border: 4px solid #ddd;
    border-radius: 50%;
    padding: 2px;
}

.pro1_warp {
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proimage_warp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proimage {
    flex: 1 1 100px;
    height: auto;
    padding: 8px 5px;
    background-color: #fff;
}

.btn_table {
    width: 100%;
    height: 100%;
}

.btn_table tr td {
    vertical-align: bottom;
}

.pro1 {
    height: auto;
    padding: 8px 5px;
    background-color: #f1f1f1;
}

.pro1:nth-child(1) {
    flex: 1 1 100px;
}

.pro1:nth-child(2) {
    flex: 3 1 100px;
}

.pro1:nth-child(3) {
    flex: 2 1 100px;
}

.pro1:nth-child(odd) {
    background-color: #dedede;
}

.infor_t2 {
    font-size: 14px;
    color: #524125;
}

.infor_t3 {
    font-size: 14px;
    color: #524125;
    word-break: break-all;
}

.infor_t4 {
    font-size: 13px;
    font-weight: bold;
    color: #515050;
}

.form_input {
    width: 100%;
    padding: 5px;
    border-radius: 1px;
    border: 1px solid #b3c7db;
    box-sizing: border-box;
    align-self: start;
}

.form_radio {
    font-size: 14px;
    padding-left: 5px;
    color: #524125;
    word-break: break-all;
}

.uploadimage {
    display: inline-block;
    border: 1px solid #e7e7e7;
    background-color: white;
    color: rgb(219, 53, 53);
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.uploadimage:hover {
    background: #e7e7e7;
    transition: background-color 0.5s;
}

/* ---------------The Modal (background)-------------------- */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* -------------------Modal Content/Box-------------------- */
.modal_content {
    background-color: #fefefe;
    padding: 0px;
    margin: 2% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    /* border: 1px solid #797878; */
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/*---------------------- Add Zoom Animation -------------------*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}