.tabs {
  width: 100%;
  height: auto;
}

/* tab list item */
.tabs .tabs_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.tabs .tabs_list li {
  width: auto;
  height: auto;
  width: 100px;
  float: left;
  margin: 0px;
  margin-right: 3px;
}
.tabs .tabs_list li a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  background-color: #91b7fb;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: 0px;
  margin-right: 3px;
  padding-top: 10px;
  border-radius: 2px;
}
.tabs .tabs_list li a:hover {
  cursor: pointer;
  background-color: #72a3f9;
  transition: 0.5s;
}
/* Tab content section */
.tabs .tab {
  display: none;
  height: auto;
  border-radius: 2px;
  padding: 10px 10px;
  background-color: lavender;
  color: darkslategray;
  clear: both;
}
/* When active state */
.tabs .tab.active {
  display: block !important;
}
.tabs .tabs_list li.active {
  background-color: lavender !important;
  color: rgb(65, 63, 63) !important;
}
.tabs .tabs_list li.active a {
  color: rgb(65, 63, 63) !important;
  background-color: lavender;
}
